.navbar {
    transition: all 0.3s ease;
}

.navbar-brand {
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.nav-link {
    font-weight: 500;
    margin: 0 5px;
}

.nav-link:hover {
    color: #ffd166 !important; /* Üzerine gelince tatlı bir sarı olsun */
}